<h1><%= @article.title%></h1>
<%= sanitize @article.body %>
<%= tinymce%> <br/>
<%=form_for :article_comment , url:article_article_comments_path(@article.id) do |f|%>
<%=f.text_field :text %>

<%=f.submit%>
<%end%>

<% @comments.each do |c| %>
<hr>
<%= c.text%><br/>
<p><%= image_tag c.user.avatar.url(:thumb), width: 30, height: 30 %></p>
User: <%= c.user.nickname%>
<hr>
<%end%>